@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    height: 109vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-image: linear-gradient(to right bottom, #50116e, #36155c, #1f1448, #100f32, #03011d);    background-repeat: no-repeat;
    background-size: cover;
}

.title p {
  color: white;
}
.main-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
    font-size: 4vw;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: rgb(51, 51, 51);
}

.display {
    text-align: center;
}

.timeType {
    font-size: 2vw;
    text-transform: uppercase;
    color: #3f415d;
    padding: 4px 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

.time-box {
    position: relative;
    height: 0;
    width: 25%;
    padding-bottom: 25%;
    border-radius: 50%;
    margin: 4vh auto;
    background-image: radial-gradient(#1d1d23 40%, #03011D 100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 6vw;
    text-shadow: 1px 1px 10px rgb(189, 196, 255);
    box-shadow: 0 0 10px #000000cc;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.timeDisplay {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.control-buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.control-button {
    width: 120px;
    padding: 10px 12px;
    margin: 5px;
    border-radius: 50px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: #3f415d;
    background-color: #fff;
    box-shadow: 0 0 15px #7381ffa9;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.control-button:hover {
    box-shadow: 0 0 15px #084963;
}

h4 {
    font-size: 18px;
    margin-top: 15px;
    color: #e8f9ffb9;
}

.pomodoro-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-box {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    text-align: center;
    padding: 20px 10px;
}

.switches {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    font-size: 18px;
    border-style: none;
    color: rgba(51, 51, 51, 0.883);
    background-color: white(255, 255, 255, 0.356);
    cursor: pointer;
    transition: .3s linear;
}

.switches.minus:hover {
    background-color: #0e6486b9;
}

.switches.plus:hover {
    background-color: #0e6486b9;
}

.minutesDisplay {
    width: 30px;
    font-size: 25px;
    margin: auto 5px;
    color: white;
}

footer {
  padding: auto;
  text-align: center;
  color: white;

}

footer a {
  text-decoration: none;
  color: #084963;
  
}